src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55db4fae-db78-47e1-be1a-e6e8f155af6d" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="3a15e985-d129-4b7a-9d35-77ba0d6b0578" >
		<db:generic-connection url="jdbc:derby://localhost:1527/memory:training" driverClassName="org.apache.derby.jdbc.ClientDriver" />
	</db:config>
	<flow name="getFlights" doc:id="0bebd9b8-dd72-4ce1-a9dd-6cc1607bb21f" >
		<db:select doc:name="Select" doc:id="8fab9588-994a-4bac-9f6e-ce5432b65646" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT *
FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="ffbf9f47-cf9d-422d-aa7f-99f86012293e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="b0b38382-5f91-47b6-8c31-4d1e335f4421" >
		<db:select doc:name="Copy_of_Select" doc:id="5fbb8e89-9ff0-4bcd-acc2-85d2cd5b3578" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT *
FROM american
WHERE ID = :ID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Copy_of_Transform Message" doc:id="10c5149b-4fc4-4a1f-b1e1-2dc88cd8fe7e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.CODE1 default "") ++ (payload01.CODE2 default ""),
	price: payload01.PRICE default 0,
	departureDate: payload01.TAKEOFFDATE as String default "",
	origin: payload01.FROMAIRPORT default "",
	destination: payload01.TOAIRPORT default "",
	emptySeats: payload01.SEATSAVAILABLE default 0,
	plane: {
		"type": payload01.PLANETYPE default "",
		totalSeats: payload01.TOTALSEATS default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="training4-american-wsFlow" doc:id="d1e1c130-7705-493c-81b5-dbcdedade64b" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="c8a71302-599e-44d2-b6ec-0b9c6b2d2b67" />
	</flow>
</mule>
